/*
 Assignment: Final WEBD 162 web site project
 Author: Tavish Phommavongsay
 Date: August 7, 2017
 Filename: style.css
 Description: Fanpage for Jonatan Leandoer AKA Yung Lean
 Dependencies: none
*/
body {
	background-color: #42f4df;
	background-image: url(../images/arizona.png);
}
div#wrapper {
	width: 90%;
 	max-width: 64em;
 	margin-left: auto;
 	margin-right: auto;
 	background-color: rgba(0,0,0,.25);
 	position:relative;
}
#footer	{
	font-size: 1em;
}
#logo {
	display: block;
	margin: 0 auto;
}
.center {
	margin: auto;
	width: 50%;
}
.imgcenter {
	display: block;
	margin: 0 auto;
}

p {
	font-family: "Times New Roman", arial;
	text-align: center;
	font-size: 1em;
	color: #ff00ff;
} 
h1 {
	font-family: "Times New Roman", arial;	
	text-shadow: 2px 2px #000000;
	text-align: center;
	color: #ff00ff;
}
nav ul {
	margin-left: 0;
	margin-left: 0
	padding: 0;
	text-align: center;
	list-style-type: none;
}
nav ul li {
	display: inline;
	padding: .1em .6em;
	border: solid white .075em;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 2em;
	font-family: "Times New Roman", arial;
	list-style-type: none;
	background-color: rgba(0,0,0,.25);
}
nav ul li a {
	text-decoration: none;
	color: #6ff6db;
}
nav ul li a:hover {
	background-color: rgba(197, 109, 195, 1);
	padding: .1em .6em;
}
